<div class="page-header">

  <h2>Register and get tablet cheaper than anyone!</h2>
</div>

<div>
  <p>
    We provide hot deal information for tablets, which would help you buy what you want at the cheapest price ever!
  </p>

</div>
