<div class="row">
  <div class="col-md-4">
    <h2>iPad/Apple</h2>
    <p><strong><font color="red">
    $499 for iPad with Retina Display 32GB at Staples
    </font></strong></p>
    <p><a href="http://www.staples.com/Apple-iPad-with-Retina-display-with-WiFi-32GB-Black/product_285143?cid=PS:GooglePLAs:285143&srccode=cii_17588969&cpncode=27-273095199-2">
    <img src="http://mac.sillydog.org/archives/pic/ipad_air_icon_2x.jpg" width="192" height="192">
    </a></p>

    <p><span class="normalprice">$599</span></p>
    <p><span class="dealprice">$499</span></p>


    <p><a href="/show" class="btn btn-primary btn-md" role="button">View details &raquo;</a></p>
  </div><!--/span-->

  <div class="col-md-4">
    <h2>Nexus/Google</h2>
    <p><strong><font color="red">
    $139.98 for Nexus 7 refurbished 32GB at Best Buy
    </font></strong></p>
    <p><a href="http://www.bestbuy.com/site/google-nexus-7-16gb-black/1484847.p?id=1219052238174">
    <img src="https://lh3.ggpht.com/YL8g2uPvFApkC4jvDROFRM312lKlVAw6JiacGWw3vmdJ54at6M0rld0qLQAKIjYdusA=w800" width="192" height="192">
    </a></p>

    <p><span class="normalprice">$178.99</span></p>
    <p><span class="dealprice">$139.98</span></p>

    <p><a href="/show" class="btn btn-primary btn-md" role="button">View details &raquo;</a></p>
  </div><!--/span-->

  <div class="col-md-4">
    <h2>Galaxy/Samsung</h2>
    <p><strong><font color="red">
    $149.97 for Samsung Galaxy Tab 3 refurbished 8GB
    </font></strong></p>
    <p><a href="http://www.bestbuy.com/site/galaxy-tab-3-7-0-8gb-memory/9349325.p?id=1219013414477&skuId=9349325&st=categoryid$pcmcat209000050006&cp=1&lp=2">
    <img src="http://www.samsung.com/us/system/consumer/product/sm/t2/10/smt210rzwyxar/WiFiGalaxyTab-3_7__W_HERO_400.jpg" width="192" height="192">
    </a></p>

    <p><span class="normalprice">$189.00</span></p>
    <p><span class="dealprice">$149.97</span></p>

    <p><a href="http://www.bestbuy.com/site/galaxy-tab-3-7-0-8gb-memory/9349325.p?id=1219013414477&skuId=9349325&st=categoryid$pcmcat209000050006&cp=1&lp=2" class="btn btn-primary btn-md" role="button">View details &raquo;</a></p>
  </div><!--/span-->

