<div class="col-md-4">
    <h2>iPad/Apple</h2>
    <p><strong><font color="red">
    $499 for iPad with Retina Display 32GB at Staples
    </font></strong></p>
    <p><a href="http://www.staples.com/Apple-iPad-with-Retina-display-with-WiFi-32GB-Black/product_285143?cid=PS:GooglePLAs:285143&srccode=cii_17588969&cpncode=27-273095199-2">
    <img src="http://mac.sillydog.org/archives/pic/ipad_air_icon_2x.jpg" width="192" height="192">
    </a></p>

    <p><span class="normalprice">$599</span></p>
    <p><span class="dealprice">$499</span></p>


    <p><a href="http://www.staples.com/Apple-iPad-Air-with-Retina-display-with-WiFi-32GB-Space-Gray/product_310343" class="btn btn-primary btn-md" role="button">View details &raquo;</a></p>
  </div><!--/span-->
